/*General standard style start*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

label {
  color: #606770;
}
/*General standard style end*/

/*important web notes style start*/
.content.profile div.note {
  padding: 0.5rem 1rem;
  border: #ff3b28 1px solid;
  background-color: rgba(255, 59, 40, 0.1);
  border-radius: 0.5rem;
  font-weight: 500;
  color: #ff3b28;
  text-align: center;
}

/*important web notes style end*/

/* main body style start */
body {
  background: #f0f2f5;
  overflow: hidden;
}

.main_page_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main_login_container {
  display: flex;
  height: 100vh;
}
/* main body style end */

/* login form style start*/
.main_login_left,
.main_login_right {
  /* min-width: 15rem; */
  margin: 2rem auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form_container {
  width: 35rem;
  min-width: 15rem;
  height: 30rem;
  min-height: 20rem;
  position: relative;
  background: #fff;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.login_form_container::before,
.login_form_container::after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.login_form_container::after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.login_header {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.login_form .msg {
  padding: 0 20px;
  width: 100%;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login_form input {
  margin: 0 0 1rem 0;
  width: 70%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #c1c8e4;
  padding: 0 1rem;
}

.login_form button {
  width: 70%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background: #0b6efd;
  color: #fff;
  font-size: 1.2rem;
}

.login_form button:hover {
  cursor: pointer;
  background: rgba(11, 110, 253, 0.8);
}
/* login form style end*/

/*logged in navbar start*/
.navtop {
  position: fixed;
  top: 0;
  background-color: #0d0106;
  height: 60px;
  width: 100%;
  /* border: 0; */
  justify-content: center;
  z-index: 3;
}

.navtop .nav_container {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navtop div h1,
.navtop div a {
  display: inline-flex;
  align-items: center;
}

.navtop div h1 {
  flex: 1;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #f0f2f5;
  font-weight: 700;
}

.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #f0f2f5;
  font-weight: bold;
}

.navtop div a:hover {
  color: rgba(11, 110, 253, 0.8);
}

.navtop div a i {
  padding: 2px 8px 0 0;
}

.burger_menu {
  height: 25px;
  width: 25px;
  display: none;
}
/*logged in navbar end*/

/*logged in content start*/
body.loggedin {
  overflow-y: scroll;
}

.loggedin .content,
.loggedin .content.profile {
  position: relative;
  top: 60px;
  width: 1000px;
  margin: 0 auto;
}

.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #e0e0e3;
  color: #4a536e;
}
.search_container {
  width: 100%;
  padding: 1rem;
  height: 60vh;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}
.search_input {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #f0f2f5;
}

.search_input select {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
.search_bar {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  font-size: 1.2rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.home .table .list_container {
  height: calc(60vh - 8.5rem);
  overflow-y: scroll;
}

.home .table {
  width: 100%;
}

.home .listHead,
.home .row {
  display: flex;
  width: 100%;
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.5rem;
  background: rgba(11, 110, 253, 0.15);
  border-radius: 0.5rem;
}

.home .row:hover {
  background: rgba(11, 110, 253, 0.55);
  cursor: pointer;
}

.home .listHead,
.listHead {
  background-color: #0b6efd;
  color: #fff;
}

.home .listHead .column,
.home .row .column {
  flex: 1;
}

.home .listHead .column.id,
.home .row .column.id {
  max-width: 100px;
}

.content.home .block {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
  border-radius: 0.5rem;
}

.content .block table,
.content.profile.hidden table {
  width: 60%;
}

.content .block table td {
  overflow: hidden;
  padding: 5px;
  width: 50%;
}

.content .block table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}

.content .block table td:last-child {
  word-break: break-all;
}

table {
  margin-bottom: 2rem;
}
.content .block p {
  padding: 5px;
  margin: 0 0 10px 0;
}

.content.profile form label {
  display: block;
  padding: 10px 0 5px 0;
}

.content.profile form input[type="text"],
.content.profile form input[type="password"],
.content.profile form input[type="email"],
.content.profile form select,
.customer_form form input[type="text"] {
  padding: 10px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.content.profile .profile_btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #0b6efd;
  margin: 15px 5px 0 0;
  padding: 10px 15px;
}

.content.profile p {
  font-size: 1.2rem;
  border-bottom: 1px solid #c1c8e4;
  margin: 1rem 0 2rem 0;
}

.content.profile .description {
  display: block;
  margin-bottom: 1rem;
}

.content.profile .profile_btn:hover {
  background-color: rgba(11, 110, 253, 0.8);
}

.pic_uploader_container {
  display: flex;
}

.pic_uploader {
  flex: 1;
  text-align: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.pic_uploader form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose_file_container {
  display: flex;
  width: 20rem;
  border: #128842 1px solid;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  padding-right: 0.5rem;
  overflow: hidden;
}

.pic_uploader label {
  min-width: 112px;
  background-color: #128842;
  color: #fff;
  padding: 0.5rem;
  width: 7rem;
  font-family: sans-serif;
  border-radius: 0.5rem 0 0 0.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.pic_uploader label:hover {
  background-color: rgba(18, 136, 66, 0.8);
}

.pic_uploader button {
  background-color: #0b6efd;
  color: #fff;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin: auto 0.5rem;
  margin-top: 1rem;
}

.pic_uploader button:hover {
  background-color: rgba(11, 110, 253, 0.8);
}

.pic_container {
  width: 90%;
  margin: 5%;
  height: 16.125rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: #c1c8e4 1px solid;
  justify-content: center;
  align-items: center;
}

.profile_pics {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.error_display {
  display: flex;
  justify-content: center;
}

.error_display .success,
.error_display .fail {
  display: block;
  padding: 0.5rem;
  margin: 0.5rem;
  border: #128842 1px solid;
  border-radius: 0.5rem;
  color: #128842;
}

.error_display .fail {
  border: #ff3b28 1px solid;
  color: #ff3b28;
}
/*customer profile style start*/
/*customer loan, payment form style start*/
.customer_form_background,
.customer_form,
.week13_confirm_background {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transform: translateX(-100%);
  transition: 0.3s ease-in-out;
}

.customer_form_background.active,
.customer_form.active,
.week13_confirm_background.active {
  transform: translateX(0);
}

.customer_form {
  width: 50%;
  background: #fff;
}

.customer_form_inner_container {
  padding: 1rem;
  height: 100%;
}

.customer_form_inner_container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.customer_form .alert {
  border: 1px solid #ff3b28;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.customer_form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.customer_form select,
.customer_form button {
  margin-top: 1rem;
  font-size: 1rem;
}

.customer_form button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0b6efd;
  color: #fff;
  cursor: pointer;
}

.customer_form button.red {
  background-color: #ff3b28;
}

.customer_form select {
  min-height: 2rem;
  border-radius: 0.5rem;
  border: #b7b7ba 1px solid;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  cursor: pointer;
}

.customer_form .payment_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
}

.payment_text .payment_amount {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.payment_text input {
  display: none;
}

.back_btn_container,
.top_btns {
  display: flex;
  justify-content: left;
  margin-bottom: 1rem;
}

.part_pay_container{
  justify-content: right;
}

.back_btn,
.part_pay_btn {
  background-color: #fff;
  border: #b7b7ba 1px solid;
  color: #000;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.back_btn i {
  pointer-events: none;
}

.top_btns_container{
  display: flex;
  flex-direction: row;
}

.top_btns{
  flex: 1;
}
/*customer loan, payment form style end*/
.loggedin .header {
  padding-top: 10rem;
  width: 1000px;
  margin: 0 auto;
}

.loggedin .header h2 {
  font-size: 1.2rem;
}

.week13_btn_container {
  position: relative;
  display: flex;
  justify-content: center;
  top: 1rem;
  padding: 1rem;
}

.week13_btn_container button {
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  border: none;
  background: rgb(255, 59, 40);
  color: #fff;
  font-weight: 500;
}

.week13_btn_container button:hover {
  background: rgba(255, 59, 40, 0.8);
  cursor: pointer;
}

.week13_confirm_background {
  transform: translateX(-110%);
}

.week13_confirm_window {
  position: fixed;
  background: #fff;
  height: 200px;
  width: 500px;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  transform: translateX(-2000%);
  transition: 0.3s ease-in-out;
}
.week13_confirm_window.active {
  transform: translateX(0);
}
.week13_confirm_window span {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 3rem;
  text-align: center;
}
.confirm_window_btns_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.confirm_window_btns_container button {
  border: none;
  border-radius: 0.5rem;
  width: 40%;
  padding: 0.5rem 0;
  background: #0b6efd;
  color: #fff;
  font-size: 1.2rem;
}

.confirm_window_btns_container button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.confirm_window_btns_container button:nth-child(2) {
  background: #ff3b28;
}

.current_balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.current_balance .under_text {
  margin-top: 0.2rem;
  font-size: 0.8rem;
}

.btns_container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns_container button {
  width: 50%;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background: #0b6efd;
  color: #fff;
  font-size: 1.2rem;
  min-width: 280px;
  max-width: 400px;
  margin-bottom: 0.5rem;
}

.btns_container .hidden {
  display: none;
}

.btns_container button:hover {
  cursor: pointer;
  background: rgba(11, 110, 253, 0.8);
}

.personal_info_btn_container {
  position: relative;
  display: flex;
  justify-content: center;
  top: 20px;
  margin: 3rem 3rem 0 3rem;
}

.personal_info_btn {
  width: 1000px;
  padding: 0.8rem;
  background: #0b6efd;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.personal_info_btn:hover {
  background: rgba(11, 110, 253, 0.8);
}

.content.profile.hidden {
  top: 30px;
}

.content.profile.hidden.active {
  height: 1rem;
  overflow-y: hidden;
  transform: translateY(-250%);
  padding: 1px;
  z-index: -1;
  width: 10px;
}

.payments_history {
  position: relative;
  margin-top: 1rem;
  border: #ddd 1px solid;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  padding: 1rem;
  border-radius: 1rem;
  height: 240px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.profile .payments_history.active {
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  height: calc(100vh - 100px);
  z-index: 2;
  background-color: #fff;
}

.payments_header {
  display: flex;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}

.payment_history_inner_container {
  height: calc(100% - 55px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.payment_list{
  transform: rotate(180deg);
}

.payments_header div {
  flex: 1;
}

.payment_item {
  list-style: none;
  padding: 0.2rem 0rem 0.2rem 1rem;
  background: rgba(11, 110, 253, 0.15);
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  transform: rotate(-180deg);
}

.payment_item:hover {
  cursor: pointer;
}
.payment_item.late {
  background: rgba(255, 0, 0, 0.15);
}

.payment_item div {
  display: flex;
  flex: 1;
}

.expand_btn {
  position: absolute;
  height: 32px;
  width: 32px;
  right: 8px;
  bottom: 2px;
  text-align: center;
}

.expand_btn i {
  font-size: 1.5rem;
  color: #b7b7ba;
  transition: 0.2s ease-in-out;
}

.expand_btn:hover > #expand {
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.profile.editPayment form {
  display: flex;
  flex-direction: column;
}

.profile.editPayment .profile_btn {
  width: 250px;
}

.info_windows_container {
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.window {
  display: flex;
  min-width: 150px;
  max-width: 150px;
  height: 60px;
  margin: 0.5rem;
  background: #fff;
  border-radius: 0.5rem;
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.window:before,
.window:after {
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.window:after {
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.window .left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left i.green {
  color: #128842;
}
.left i.red {
  color: #ff3b28;
}

.window .right {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.right .right_upper,
.right .right_lower {
  height: 66.67%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right .right_lower {
  height: 33.33%;
  align-items: flex-start;
}

.right .right_upper {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.right_upper .text {
  font-weight: 500;
}

.right_lower span{
  color: #777;
  font-size: 0.8rem;
}
/*customer profile style end*/
/*logged in content end*/

/*Admin only style start*/

html {
  height: 100%;
}

body {
  position: relative;
  color: #555555;
  background-color: #f0f2f5;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  color: #394352;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  background-color: #36393e;
  padding: 0 15px;
  align-items: center;
}

header h1 {
  display: inline-flex;
  flex-basis: 100%;
  height: 100%;
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
}

header a {
  display: inline-flex;
  color: #ffffff;
  height: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

header a i {
  font-size: 30px;
}

header a:hover,
header a:active {
  color: #bbbbbb;
}

header .responsive-toggle {
  display: none;
}

aside {
  position: fixed;
  z-index: 999999;
  height: 100%;
  width: 250px;
  display: flex;
  flex-flow: column;
  background-color: #232528;
  margin-top: 60px;
}

aside a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #d7d7d8;
  padding: 15px 15px;
  border-bottom: 1px solid #1a1b1d;
}
.link_hidden {
  display: none;
}

aside a i {
  padding-right: 15px;
}

aside a:hover {
  background-color: #1a1b1d;
  color: #0b6efd;
}

main {
  padding: 30px;
  padding-left: 280px;
  padding-top: 85px;
}

main h2 {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbdd;
}

main .content-block {
  background-color: #fff;
  margin-top: 25px;
  padding: 15px;
  line-height: 1.6;
  border-radius: 0.5rem;
}

main .table {
  padding: 0 10px;
}

main .table table {
  width: 100%;
  border-collapse: collapse;
}

main .table table thead td {
  font-weight: 600;
  padding: 15px 0;
}

main .table table thead tr {
  border-bottom: 1px solid #f0f0f1;
}

main .table table tbody td {
  padding: 5px 0;
}

main .table table tbody .img {
  width: 50px;
}

main .table table .details {
  cursor: pointer;
}

main .table table .details:hover {
  background-color: #dbdbdd;
}

main .table table .expanded-details {
  display: none;
  background-color: #fdfdfd;
}

main .table table .expanded-details td {
  padding: 15px;
}

main .table table .expanded-details td > div {
  display: flex;
  flex-flow: wrap;
}

main .table table .expanded-details td > div div {
  width: 33.3%;
}

main .table table .expanded-details td > div div span {
  display: flex;
  padding: 5px 0;
}

main .table table .expanded-details td > div div span:first-child {
  font-weight: 600;
  padding-top: 10px;
}

main .form {
  display: flex;
  flex-flow: column;
  width: 500px;
  padding: 20px;
}

main .form input,
main .form textarea,
main .form select {
  width: 100%;
  padding: 15px 5px;
  margin-bottom: 25px;
  border: 0;
  border-bottom: 1px solid #dedee0;
}

main .form input:hover,
main .form input:active,
main .form textarea:hover,
main .form textarea:active,
main .form select:hover,
main .form select:active {
  border-bottom: 1px solid #b7b7ba;
}

main .form textarea {
  height: 200px;
}

main .form input[type="submit"],
.content.profile .form input[type="submit"] {
  background-color: #0b6efd;
  color: #fff;
  width: 50%;
  padding: 12px 0;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}

.content.profile .form input[type="submit"] {
  margin: 15px 0;
  max-width: 200px;
}

main .form input[type="submit"]:hover,
.content.profile .form input[type="submit"]:hover {
  background: rgba(11, 110, 253, 0.8);
}

main .form input[type="checkbox"] {
  width: auto;
  margin: 15px 0 25px 2px;
  transform: scale(1.2);
}

main .form label {
  display: block;
  font-weight: 600;
}

main .form button {
  background-color: #dedee0;
  color: #69696f;
  border: 0;
  padding: 5px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

main .form button:hover {
  background-color: #d6d6d8;
}

main .form div {
  margin-bottom: 25px;
}

main .form .submit-btns {
  display: flex;
}

main .form .submit-btns input:first-child {
  margin-right: 15px;
}

main .form .submit-btns .delete,
.loggedin .content.profile .submit-btns .delete {
  background-color: rgb(255, 59, 40);
}

main .form .submit-btns .delete:hover,
.loggedin .content.profile .submit-btns .delete:hover {
  background-color: rgba(255, 59, 40, 0.8);
}

main .links {
  display: flex;
  flex-flow: wrap;
  padding-top: 20px;
}

main .links a,
.home .links a {
  display: inline-flex;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  background-color: #0b6efd;
  margin: 15px 5px 0 0;
  padding: 10px 15px;
}

.home .links a {
  margin: 0 5px 15px 0;
}

main .links a:hover,
.home .links a:hover {
  background: rgba(11, 110, 253, 0.8);
}

main .error {
  padding: 15px;
  margin: 0;
}

.content.profile {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 1rem 5%;
  padding: 5%;
  border-radius: 0.5rem;
  background-color: #fff;
}

.content.profile p,
.content-block form p {
  font-size: 1.2rem;
  border-bottom: 1px solid #c1c8e4;
  margin: 1rem 0 2rem 0;
}

.content.profile table {
  margin-bottom: 2rem;
  width: 45%;
}

.content.profile td {
  overflow: hidden;
  padding: 5px;
  width: 50%;
}

.content.profile table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}

.plaza_header h3{
  margin-top: 0.5rem;
}

/*Admin only style end*/

@media screen and (max-width: 1200px) {
  /*Admin only start*/
  .content.profile table {
    width: 75%;
  }

  .responsive_hidden_1200 {
    display: none;
  }
  /*Admin only end*/
}

@media screen and (max-width: 1000px) {
  .main_login_container {
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
  }

  .main_login_left,
  .main_login_right {
    width: 100%;
  }

  .login_form_container {
    width: 90%;
  }
  .loggedin .content,
  .loggedin .content.profile,
  .loggedin .header {
    width: 90%;
  }

  .navtop {
    padding: 10px;
  }

  .navtop .nav_container {
    flex-flow: wrap;
    width: 100%;
  }

  .navtop div h1 {
    display: block;
    flex-basis: 100%;
  }

  .content {
    padding: 10px;
    width: 100%;
  }

  .content form input[type="text"],
  .content form input[type="password"],
  .content form input[type="email"] {
    width: 100%;
  }

  .burger_menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .burger_menu .burger_line {
    height: 3px;
    width: 25px;
    margin-bottom: 5px;
    background-color: #fff;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }

  .burger_menu.active .line_one {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger_menu.active .line_two {
    opacity: 0;
  }

  .burger_menu.active .line_three {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav_links {
    position: absolute;
    right: 0;
    top: 60px;
    height: calc(100vh - 60px);
    background-color: #0d0106;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  .nav_links.active {
    transform: translateX(0);
  }

  .navtop .nav_links a {
    padding: 10px 0;
    border-bottom: rgba(255, 255, 255, 0.5) 0.5px solid;
    width: 280px;
  }

  .responsive_hidden_1000,
  .payment_item .responsive_hidden_1000 {
    display: none;
  }

  .choose_file_container {
    width: 18rem;
  }
  /*Admin only start*/
  header .responsive-toggle {
    display: flex;
  }

  .responsive-hidden {
    display: none;
  }

  .responsive-width-100 {
    width: 100% !important;
  }

  .responsive-flex-column {
    flex-flow: column;
  }

  main {
    padding: 70px 7px 20px 7px;
  }

  main .expanded-details div {
    width: 100% !important;
  }

  main .content-block {
    padding: 5px;
  }

  .content.profile table {
    width: 75%;
  }

  .nav_links.admin {
    top: 0px;
    background-color: #232528;
  }

  .nav_links.admin a {
    padding: 10px 0;
    border-bottom: rgba(255, 255, 255, 0.5) 0.5px solid;
    width: 280px;
  }
  /*admin only end*/
}
@media screen and (max-width: 768px) {
  .loggedin .content,
  .loggedin .content.profile {
    width: 96%;
  }

  .content .block table {
    width: 100%;
  }

  .content .block table td {
    white-space: nowrap;
  }

  .pic_uploader_container {
    flex-direction: column;
  }

  .responsive_hidden_768,
  .payment_item .responsive_hidden_768 {
    display: none;
  }

  .search_input {
    flex-direction: column;
  }

  .home .table .list_container {
    height: calc(60vh - 12.5rem);
  }

  .customer_form {
    width: 80%;
  }
  .week13_confirm_window {
    height: 150px;
    width: 300px;
    top: calc(50% - 75px);
    left: calc(50% - 150px);
  }
  /*Admin only start*/
  .content.profile table {
    width: 100%;
  }

  .search_input select {
    height: 2.5rem;
  }
  /*Admin only end*/
}
@media screen and (max-width: 411px) {
  .customer_form {
    width: 100%;
  }

  .responsive_hidden_411,
  .payment_item .responsive_hidden_411 {
    display: none;
  }

  .customer_form .back_btn {
    padding: 0.4rem 0.8rem;
  }
}
@media screen and (max-width: 375px) {
  .loggedin .content,
  .loggedin .content.profile {
    width: 100%;
  }

  .content .block table {
    font-size: 0.8rem;
  }

  .content .block {
    padding: 5px;
  }

  .choose_file_container {
    width: 16rem;
  }
  .week13_btn_container {
    padding: 0 0 2rem 0;
  }
  /*Admin only start*/
  .nav_links {
    width: 320px;
  }

  .content.profile table {
    font-size: 0.8rem;
  }

  .content.profile {
    width: 100%;
    padding: 5px;
    margin: 0;
  }
  /*Admin only end*/
}
